
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
*.prefs
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.16.1.20210603-1006.xml
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/version.ini
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.log
.metadata/.lock
/.metadata/
inspection-service/.mvn/wrapper/maven-wrapper.jar
inspection-service/.mvn/wrapper/maven-wrapper.properties
inspection-service/.mvn/wrapper/MavenWrapperDownloader.java
inspection-service/.mvn/wrapper/maven-wrapper.jar
inspection-service/.mvn/wrapper/maven-wrapper.jar
inspection-service/mvnw.cmd
inspection-service/mvnw
*.jar
